body > div > div > section.content > div > div > div > div > form > div:nth-child(4) > div.CodeMirror.cm-s-paper.CodeMirror-wrap {
  height: 130px;
  min-height: 130px;
}

form.form-inline {
  display: inline-block;
}

.selected-status {
  font-weight: bold;
}
