// ---------- Buttons ----------
.btn-toggle,
.btn-toggle:link,
.btn-toggle:visited {
    border: 1px solid white;
    background-color: #C82828;
    color: white;
    margin: 15px 0;
}

.menu-toggle {
    display: none;
}

.btn-cta {
    background-color: transparent;
    border-radius: 0px;
    border: 2px solid white;
    transition: all .3s;

    &:hover {
        color: #C82828;
        background-color: white;
        transition: all .3s;
    }

}

.btn-cta-red {
    &:link,
    &:visited {
        color: white;
        background-color: #C82828;
        border: 1px solid white;
        transition: all .3s;
    }

    &:hover {
        background-color: #e84c4c;
        transition: all .3s;
    }
}
