/* UPCOMING EVENTS PAGE */
.event-banner{
  background: url("/img/hero-bg.png") top center no-repeat;
  padding: 10% 0% 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -0.3%;
}

.event-banner h1 {
  font-size: 3em;
  padding-bottom: 15px;
  position: relative;
  color: white;
}

@media screen and (max-width: 768px) {
  .event-banner h1 {
    margin-bottom: 10%;
    font-size: 2em;
  }
}

.event-banner h1:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0px;
  left: 30%;
  border-bottom: 1px solid #ffffff;
}

.event-thumbnail-container {
  margin-top: -16%;
  margin-bottom: 10%;
  width: 80%;
  padding-top: 18px;
  background-color: #ffffff;
}

.event-thumbnail-container img {
   width: 100%;
}

.event-thumbnail-container h2 {
  font-size: 1.85em;
}

.event-thumbnail-container p {
  font-size: 13px;
  color: #767676;
}

.event-text {
  margin-top: 9%;
  line-height: 170%;
}

.event-thumbnail {
  margin-bottom: 10%;
}

.event-thumbnail  span {
  font-weight: bold;
}

.event-thumbnail-border{
  border-bottom: 2px solid #404040;
  margin: 2% 0;
}

/* EVENT DETAILS PAGE --------------------------*/
.event-details-container {
  margin-top: -31%;
  margin-bottom: 10%;
  width: 80%;
  background-color: #ffffff;
}

.event-image {
  padding: 0;
}

.event-image img {
  width: 100%;
}

.event-details-content-container{
  margin-top: -11%;
  margin-bottom: 10%;
  background-color: #ffffff;
}

.event-information h1 {
  color: #C82828;
  font-size: 1.85em;
  margin-bottom: 9%;
  margin-left: 12%;
}

.event-information p {
  margin-top: 3%;
  margin-left: 13%;
}

.event-excerpt {
  line-height: 170%;
  color: #C82828;
  font-size: 1.5em;
  margin-bottom: 3%;
}

.event-details {
  margin: 2% 1%;
  padding: 2%;
  border-left: 3px solid #C82828;
}

.event-details iframe {
  margin: 3% 3%;
  width: 54vw;
  height: 41vh;
}

/*Ipad*/
@media screen and (max-width: 1024px) {
  .event-information h1 {
    margin-bottom: 2%;
    margin-top: 7%;
    margin-left: 12%;
  }

  .event-details-content-container{
    width: 80%;
  }

  .event-details iframe {
    margin: 5% 3%;
    width: 54vw;
    height: 24vh;
  }
}

@media screen and (max-width: 1960px) {
  .event-details-container {
    width: 80%
  }
}

@media screen and (max-width: 1440px) {
  .event-details-container {
    margin-bottom: 12%;
    width: 100%;
    margin-left: -9%;
  }
}

@media screen and (max-width: 1366px) {
  .event-details-container {
    margin-top: -28%;
    margin-bottom: 14%;
  }
}

@media only screen and (max-width: 1366px){
  .event-details-container{
    width: 100%;
    margin-left: -7%;
  }
}

/*Ipad landscape mode*/
@media screen and (max-width: 1024px) and (max-height: 768px){
  .event-details-container {
    margin-top: -23%;
    margin-bottom: 14%;
    width: 100%;
  }

  .event-details iframe {
    margin: 5% 3%;
    width: 54vw;
    height: 41vh;
  }
}

/*Ipad Portait Mode*/
@media screen and (max-width: 768px) {
  .event-details-container {
    width: 100%;
    margin-left: 0%;
  }

  .event-details iframe {
    margin: 5% 3%;
    width: 65vw;
    height: 28vh;
  }
}

/*Smartphone*/
@media screen and (max-width: 767px) {
  .event-details-container {
    width: 100%;
  }

  .event-information {
    padding-bottom: 3%;
  }

  .event-details-content-container{
    width: 100%;
  }

  .event-excerpt {
    margin-bottom: 10%;
  }

  .event-details iframe {
    margin: 5% 1%;
    width: 88vw;
    height: 88vh;
  }
}

@media screen and (max-width: 415px) {
  .event-information h1 {
    margin-bottom: 6%;
    margin-top: 8%;
    margin-left: 10%;
  }

  .event-information p {
    margin-left: 10%;
  }

  .event-excerpt {
    margin-bottom: 5%;
  }

  .event-details {
    padding: 4%;
    margin: 10% 0%;
  }

  .event-details iframe {
    width: 76vw;
    height: 29vh;
  }
}

.zero-events-msg {
  text-align: center;
  margin: 6.75% 0;
  font-size: 2em !important;
}

.past-events-link {
  padding: 0.5% 1% 0.5% 5%;
  margin: 1% 0 1% 0%;
  background-color: #4f4949;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
}

.past-events-link:hover {
  background-color: #C82828;
}

.past-events-link a {
  font-size: 13.8px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .past-events-link {
    margin: 3% 0 1% 0%;
    padding-left: 8%;
  }
}

.event-pagination {
  margin-left: 50%
}

/*HOME PAGE*/
.home-page-no-events-msg {
  margin: 3% 1%;
}
.subscribe-success {
  padding: 0.75% 0% 0.2% 5%;
  background: #45a83e;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .subscribe-success {
    padding: 1.75% 0% 0.2% 5%;
  }
}
