//---------- BASE STRUCTURES ----------
// -- Header --
header {
    background-color: #C82828;
}

// -- Navigation --
nav {
    background-color: #404040;

    a:hover {
        color: #808080;
    }

    a, a:link,
    a:visited {
        color: white;
        font-size: 1.2em;
    }
}

// -- Sections --
section {
    margin: 20px 0;
}

// -- Hero Section --
section#hero {
    margin: 0;
    background: url('/img/hero-bg.jpg') top center no-repeat;
    background-size: cover;
    height: 400px;
    display: table;
    width: 100%;

    .title-container {
        margin: 0;
        padding: 0;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: white;

        h1 {
            margin: 0;
            padding: 0;
            font-size: 3em;

            span {
                display: block;
                font-size: 3.25em;
            }

        }

    }

}

#hero-content {
    background: url('/img/hero-bg.png') top center no-repeat;
    display: block;
    height: 300px;
    min-width: 100%;
    background-size: cover;
    display: table;
    color: white;
    margin: -45px 0 0 0;
    text-align: center;

    .inner-content {
        display: table-cell;
        vertical-align: middle;
    }

}

// -- News Section --
section#news {
    background: url('../img/sect-background.png') top center no-repeat;
    display: block;
    min-height: 460px;
    background-size: cover;
    padding: 35px 35px 75px;
    color: white;

    a:link,
    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover li {
        background-color: rgba(0,0,0,0.123);
        transition: all .3s;
    }

    .events {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid #d03c3c;
            padding: 10px;
            transition: all .3s;
        }
        h3 {
            margin: 0;
        }
    }

}

// -- Services Section --
section#services {
    .service {
        font-size: 1.5em;
        border-right: 2px solid #eee;

        &:last-of-type {
            border-right: 0;
        }

        h3 {
            font-size: 1.5em;
        }

//        * {
//            margin: 25px 0;
//            padding: 0;
//        }
    }
}

// -- Footer --


footer {
  padding: 20px 0;
  background-color: rgba(0,0,0,0);
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }

    h2 {
        margin: 0;
    }
}

// -- Content --
#content {
  background-color: white;
  margin: 0;
  padding: 25px 0;
}
